@use "@/styles/theme/components";
@use "@/styles/theme/breakpoints" as *;
@use "@/styles/theme/variables" as *;

%general {
  padding: 1em;
  color: $co-text-dark;
  background-color: $co-bg-light;
  @include md {
    padding-inline: 20%;
  }
}

.faq {
  @extend %general;

  &__header {
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
  }
}

.trigger {
  cursor: pointer;

  width: 100%;
  display: flex;
  justify-content: space-between;
  & > svg {
    width: 32px;
    aspect-ratio: 1/1;
  }
  & > p {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
