@use "@/styles/theme/components";
@use "@/styles/theme/breakpoints" as *;
@use "@/styles/theme/variables" as *;

$radius: 10px;
.card {
  min-height: 580px;
  border-radius: $radius;
  display: grid;
  position: relative;
  padding: 0;
  isolation: isolate;
  margin-inline: 0.5em;
  padding-bottom: 4em;
  @include md {
    min-height: 500px;
    padding-bottom: 5em;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    mask-image: linear-gradient(to top, black 10%, transparent 100%);
    border-radius: $radius;
    z-index: 4;
  }
  &__image {
    border-radius: $radius;
    padding: 0;
    width: 100%;
    height: 100%;
    > * {
      border-radius: $radius;
    }
  }
  &__caption {
    z-index: 10;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $co-text-light;
    bottom: 0;
    left: 0;
    padding: 0.5em 0.5em;
    text-align: center;
    margin-bottom: 1em;
    @include md {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 2em;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3em;
      width: 100%;

      @include md {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
      }
    }
    &__category {
      margin: 0;
    }
    &__description {
      margin: 0;
      margin-bottom: 0.5em;
      @include md {
        margin-bottom: 0;
      }
    }
    &__cta {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.4em 0.8em;
      gap: 1em;
      &__icon {
        width: 30px;
        height: 30px;
      }
      @extend .button;
      & > :first-child {
        flex-basis: 10%;
        flex-grow: 1;
      }
    }
  }
  &__modal {
    width: 100%;
    position: absolute;
    z-index: 10;
    color: $co-text-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    top: 5%;
    font-weight: bold;
    @include md {
      text-align: left;
      margin: 2em;
    }
    &__title {
      margin: 0;
      @include md {
        font-size: 1.2em;
      }
    }
    &__description {
      margin: 0;
      @include md {
        font-size: 1.5em;
        letter-spacing: 2px;
      }
    }
  }
}
