$co-bg-slate: hsl(0, 0%, 10%);
$co-bg-dark: hsl(0, 0%, 0%);
$co-bg-light: hsl(0, 0%, 100%);
$co-bg-muted: hsl(0, 0%, 80%);

$co-text-highlight: hsl(209, 100%, 58%);
$co-text-dark: hsl(0, 0%, 0%);
$co-text-muted: hsl(220, 1%, 58%);
$co-text-light: hsl(0, 0%, 100%);
